<div class="col-md-3">
    <h2>User info</h2>
    <% if user.profile_image.attached? %>
      <%= image_tag user.profile_image, size: "63x63" %>
    <% else %>
      <%= image_tag 'no_image', size: "63x63" %>
    <% end %>
    <table class="table">
        <tbody>
          <tr>
            <th>name</th><th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th><th><%= user.introduction %></th>
          </tr>
        </tbody>
    </table>
    <%= link_to "⚙", edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" %>

    <h2>New book</h2>
    <%= form_with model:book, local: true do |f| %>
        <div class="form_group">
            <p>Title</p>
            <%= f.text_field :title %>
        </div>
        <div class="form_group">
            <p>Opinion</p>
            <%= f.text_area :body %>
        </div>
        <div class="form_group">
            <%= f.submit "Create Book", class: "btn btn-success" %>
        </div>
    <% end %>
</div>
