<div class="container">
  <div class="row">
    <%= render "info", user:@user, book:@book %>

    <div class="col-md-8 offset-md-1" >
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <tb>
              <%= link_to user_path(@post.user.id) do %>
                <% if @post.user.profile_image.attached? %>
                    <%= image_tag @post.user.profile_image, size: "40x40" %>
                <% else %>
                  <%= image_tag 'no_image', size: "40x40" %>
                <% end %>
                <br><%= @post.user.name %>
              <% end %>
            </tb>
            <tb><%= link_to @post.title %></tb>
            <tb><%= @post.body %></tb>
            <% if @post.user == current_user %>
              <tb><%= link_to "Edit", edit_book_path(@post), class: "btn btn-success" %></tb>
              <tb><%= link_to "Destroy", delete_book_path(@post.id), method: :delete, class: "btn btn-danger " %></tb>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>